{% extends 'base.html.twig' %}

{% block title %}Mes Ruches{% endblock %}

{% block body %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/post/list.css')}}">
{% endblock %}
          

          <h3 class="titre">MON EXPLOITATION</h3>
        <div class="flex-ruche">
           <div class="flex-ruche-div">
                 <h5>Température interne de la ruche actuelle : 34°C </h5>
                 
                 <img class="img" src="{{ asset('graph1.png')}}">
           </div>
           <div class="flex-ruche-div">
                 <h5>Taux d'humidité interne actuel : 8%</h5>
                <img class="img" src="{{ asset('graph2.png')}}">

           </div>
           <div class="flex-ruche-div">
                 <h5>Niveau de couvain actuel: Développé</h5>
                <img class="img" src="">

           </div>
           <div class="flex-ruche-div">
                <h5>Présence de la reine : Oui</h5>
                <img class="img" src="">
           </div>
           <div class="flex-ruche-div">
                 <h5>Santé générale de la colonie: Saine</h5>
                <img class="img" src="{{ asset('graph4.png')}}">
           </div>
            <div class="flex-ruche-div">
                 <h5>Suivi des miéllées actuelles: 22kg</h5>
                <img class="img" src="{{ asset('graph3.png')}}">
           </div>
           

    
        </div>
  
{% endblock %}


